// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&display=swap');

$font-text:'Bebas Neue', cursive;
$font-titles: 'Cormorant Garamond', serif;

// colors
$body:#212121;
$body_bak: #323232;
$titles: #0D7377;
$text: #14ffec;
$link: #fff;

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  background-color: $body;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: $font-text;
  text-transform: uppercase;
}





button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  background: #f5cd03;
  color: #0c0d0d;
  cursor: pointer;
  border-radius: 50px;
}