// @use "components/body";

.header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 10px $md;
    transition: 1s ease all;
    z-index: 9999;
    .logo {
        display: flex;
        justify-content: space-around;
        font-size: $xs-m;
        align-items: center;
        padding: 0;
        text-align: center;
        // color: $pink;
        span{
            margin:0 2rem;
            font-family: $font-text;
            text-align: center;
            font-weight: bold;
        }
    }
    .overflow {
        overflow: hidden;
    }
    .menu>ul {
        display: flex;
        &>li {
            list-style: none;
            justify-content: space-around;
            padding: 0 $xs;
            &>a {
                text-decoration: none;
                font-size: $xs-m;
                // font-weight: $bold;
                color: $text;
                font-weight: bold;
                transition: all .5s ease-in-out;
                font-family: $font-text;
                &:hover {
                    color: $link;
                }
            }
        }
    }
}