// @use "components/body";
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 12;
    .logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: $xs-m;
        font-weight: bold;
        text-align: center;
        &:hover{
            color: $link;
            transition: 0.5s ease-in-out;
        }
        span{
            font-weight: bolder;
            font-family: $font-text;
            padding: 0 1rem;
        }
    }

    ul{
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
        li{
            height: 100px;
            position: relative;
            font-size: $xs-m;
            font-weight: bolder;
            padding: 0 $md;
            z-index: 1;
            a{
                align-items: center;
                text-align: center;
                display: flex;
                width: 100%;
                height: 100%;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background: $text;
                    transition: .5s;
                    z-index: -1;
                    color: black;
                }
                &:hover:before{
                    height: 100%;
                    color: $pharagraps;
                }
            }
            
        }
    }

    .link{
        a{
            &:hover{
                color: $pharagraps;
                transition: .5s;
                font-weight: bolder;
            }
        }
    }
}

.overflow {
    overflow: hidden;
}
