section {
    height: 100vh;
    position: sticky;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.inicio-info{
    .name{
        .p_name{
            font-family: $font-titles;
            font-size: $xl;
            font-weight: 100;
            color: $titles;
        }
    }
    
}


//Animacion
.tracking-in-contract {
	// animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes tracking-in-contract {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        
        filter: blur(0px);
        opacity: 1;
    }
}  