

.inicio-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name{
        .p_name{
            font-family: $font-titles;
            font-size: 12rem;
            font-weight: 100;
            color: $titles;
            padding: 0;
            margin: 0;
        }
    }
    p{
        font-size: $md;
    }
}

.list_social{
    width: 120px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 999;
    li {
        list-style: none;
        padding-top: $xs;
        transition: 1s linear;
        &:hover{

            transform: translate($xs);
        }
        a{
            font-size: 4rem;
            color: $titles;
            &:hover{
                color: $text;
            }
        }
    }
        
}


//Animacion
.tracking-in-contract {
    animation: tracking-in-contract 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes tracking-in-contract {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        
        filter: blur(0px);
        opacity: 1;
    }
}  
