@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap");
/*---TAMAÑOS LETRAS---*/
*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  background: #f5cd03;
  color: #0c0d0d;
  cursor: pointer;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: #14ffec;
  font-family: "Bai Jamjuree", sans-serif;
}

.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 9999;
  align-items: center;
  padding: 0 6rem;
}

section {
  min-height: 100vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  max-width: 95%;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.one {
  background-color: #0a192f;
}

.two {
  background-color: #0a192f;
}

.three {
  background-color: #0a192f;
}

.four {
  background-color: #0a192f;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 700px;
}

.text {
  font-size: 2.5rem;
  color: #14ffec;
  font-weight: bold;
  font-family: "Bai Jamjuree", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 12;
}
nav .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
nav .logo:hover {
  color: #fff;
  transition: 0.5s ease-in-out;
}
nav .logo span {
  font-weight: bolder;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0 1rem;
}
nav ul {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
nav ul li {
  height: 100px;
  position: relative;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 0 3rem;
  z-index: 1;
}
nav ul li a {
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}
nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #14ffec;
  transition: 0.5s;
  z-index: -1;
  color: black;
}
nav ul li a:hover:before {
  height: 100%;
  color: #515152;
}
nav .link a:hover {
  color: #515152;
  transition: 0.5s;
  font-weight: bolder;
}

.overflow {
  overflow: hidden;
}

.inicio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio-info .name .p_name {
  font-family: "Bebas Neue", cursive;
  font-size: 12rem;
  font-weight: 100;
  color: #ccd6f6;
  padding: 0;
  margin: 0;
}
.inicio-info p {
  font-size: 3rem;
}

.list_social {
  width: 120px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 999;
}
.list_social li {
  list-style: none;
  padding-top: 2rem;
  transition: 1s linear;
}
.list_social li:hover {
  transform: translate(2rem);
}
.list_social li a {
  font-size: 4rem;
  color: #ccd6f6;
}
.list_social li a:hover {
  color: #14ffec;
}

.tracking-in-contract {
  animation: tracking-in-contract 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes tracking-in-contract {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.titles {
  color: #14ffec;
  font-size: 5rem;
}

.div_section {
  display: flex;
  flex-direction: column;
}
.div_section .text_head {
  font-size: 3rem;
}

/*# sourceMappingURL=styles.css.map */
